<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6UU4d0qyjZh4w_n58TuZ42mu0zY6VnbM</string>
	<key>GCM_SENDER_ID</key>
	<string>403134270689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brian.One</string>
	<key>PROJECT_ID</key>
	<string>onex-ed68e</string>
	<key>STORAGE_BUCKET</key>
	<string>onex-ed68e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403134270689:ios:4697f8b1db8dd4b9dfbba0</string>
</dict>
</plist>