<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6Ba3y-5mktlMqnJSkiaxFY5vXNduiumk</string>
	<key>GCM_SENDER_ID</key>
	<string>974166005541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brain.TrainX</string>
	<key>PROJECT_ID</key>
	<string>trainx-5bcf3</string>
	<key>STORAGE_BUCKET</key>
	<string>trainx-5bcf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974166005541:ios:3f2a70664568bcb1236ccc</string>
</dict>
</plist>